---
import Card from "./Card.astro";

interface Service {
  id: number;
  title: string;
  price: number;
  benefits: string[];
}

interface Props {
  service: Service;
}

const { id, title, benefits, price } = Astro.props.service;
---

<Card className="card-service h-fit">
  <div class="flex flex-col gap-2">
    <h3 class="text-xl text-gray-950 dark:text-gray-100 font-semibold mb-4">
      {title}
    </h3>
    <p class="font-bold text-2xl text-gray-950 dark:text-white">${price}</p>
    <ul class="text-gray-600 dark:text-gray-400 list-inside list-disc mb-4">
      {benefits.map((benefit) => <li>{benefit}</li>)}
    </ul>
  </div>
  <button
    data-service-id={id}
    class="hireServiceButton w-full p-2 text-white font-semibold bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 focus:ring-4 focus:outline-hidden focus:ring-blue-300 rounded-md dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-950 transition-all duration-300"
  >
    Get Started
  </button>
</Card>
