---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;

const splitClasses = className.split(" ");
---

<div
  class="rounded-md p-6 w-full border border-gray-300 dark:border-neutral-800 flex flex-col gap-2 bg-white shadow-sm dark:bg-gray-950/30"
  class:list={splitClasses}
>
  <slot />
</div>
