<button id="openErrorModalBtn" class="hidden"></button>
<div id="errorModal" class="hidden">
  <div
    class="bg-white rounded-md dark:bg-gray-950 w-84 xs:w-96 flex flex-col p-6 h-fit mt-10 sm:mt-16 mx-auto"
  >
    <div
      class="size-12 rounded-full bg-red-100 dark:bg-red-900 p-2 flex items-center justify-center mx-auto mb-3.5"
    >
      <svg
        aria-hidden="true"
        class="size-8 text-red-500 dark:text-red-400"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
      >
        <path
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        ></path></svg
      >
    </div>
    <p
      class="mb-4 text-lg font-semibold text-gray-900 dark:text-white text-center"
    >
      Oops, something went wrong! Please, try again.
    </p>
    <button
      type="button"
      id="closeErrorModal"
      class="w-full p-2 text-white font-semibold bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 focus:ring-4 focus:outline-hidden focus:ring-blue-300 rounded-md dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-950 transition-all duration-300"
    >
      Continue
    </button>
  </div>
</div>
<script>
  import { Modal } from "../utils/modal";

  window.addEventListener("DOMContentLoaded", () => {
    const closeModalBtn = document.getElementById("closeErrorModal");
    const openModalBtn = document.getElementById("openErrorModalBtn");
    const errorModal = new Modal("errorModal");

    if (closeModalBtn instanceof HTMLButtonElement) {
      closeModalBtn.addEventListener("click", () => {
        errorModal.hide();
      });
    }

    if (openModalBtn instanceof HTMLButtonElement) {
      openModalBtn.addEventListener("click", () => {
        errorModal.show();
      });
    }
  });
</script>
