<button id="openSuccessModalBtn" class="hidden"></button>
<div id="successModal" class="hidden">
  <div
    class="bg-white rounded-md dark:bg-gray-950 w-84 xs:w-96 flex flex-col p-6 h-fit mt-10 sm:mt-16 mx-auto"
  >
    <div
      class="size-12 rounded-full bg-green-100 dark:bg-green-900 p-2 flex items-center justify-center mx-auto mb-3.5"
    >
      <svg
        aria-hidden="true"
        class="size-8 text-green-500 dark:text-green-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path></svg
      >
    </div>
    <p
      class="mb-4 text-lg font-semibold text-gray-900 dark:text-white text-center"
    >
      I've received your message, I'll get in contact with you soon.
    </p>
    <button
      type="button"
      id="closeSuccessModal"
      class="w-full p-2 text-white font-semibold bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 focus:ring-4 focus:outline-hidden focus:ring-blue-300 rounded-md dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-950 transition-all duration-300"
    >
      Continue
    </button>
  </div>
</div>
<script>
  import { Modal } from "../utils/modal";

  window.addEventListener("DOMContentLoaded", () => {
    const closeModalBtn = document.getElementById("closeSuccessModal");
    const openSuccessModalBtn = document.getElementById("openSuccessModalBtn");
    const successModal = new Modal("successModal");

    if (closeModalBtn instanceof HTMLButtonElement) {
      closeModalBtn.addEventListener("click", () => {
        successModal.hide();
      });
    }

    if (openSuccessModalBtn instanceof HTMLButtonElement) {
      openSuccessModalBtn.addEventListener("click", () => {
        successModal.show();
      });
    }
  });
</script>
