---
interface Props {
  title: string;
  date: string;
  description: string;
  badgeText?: string;
}

const { title, date, description, badgeText } = Astro.props;
---

<li class="mb-10 ms-8">
  <span
    class="absolute flex items-center justify-center size-6 bg-blue-300 rounded-full -start-3 ring-8 ring-blue-100 dark:ring-blue-950/60 dark:bg-blue-800"
  >
    <slot name="icon" />
  </span>
  <h3
    class="flex items-center mb-1 text-lg font-semibold text-gray-950 dark:text-white"
  >
    {title}
    {
      badgeText && (
        <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-xs dark:bg-blue-900 dark:text-blue-300 ms-3">
          {badgeText}
        </span>
      )
    }
  </h3>
  <time class="block mb-2 text-sm font-normal leading-none text-gray-500"
    >{date}</time
  >
  <p
    class="mb-4 text-sm sm:text-base font-normal text-gray-600 dark:text-gray-400"
  >
    {description}
  </p>
  <slot name="extra-content" />
</li>
