---
import background from "../assets/background.svg";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>PortfolioDemo1</title>

    <!-- Metas -->
    <meta
      name="description"
      content="A small minimalist web developer portfolio built with Astro and TailwindCSS"
    />
  </head>
  <body class="dark:bg-gray-950">
    <img
      class="fixed top-0 left-0 size-full -z-10 blur-2xl"
      src={background.src}
      alt=""
      fetchpriority="high"
    />
    <Navbar />
    <main class="max-w-screen-lg mx-auto p-6 flex flex-col gap-12">
      <slot />
    </main>
    <Footer />
  </body>
  <style is:global>
    * {
      scroll-behavior: smooth;
    }
  </style>
</html>
